.fieldset,
.fieldset fieldset {
  border: none;
  outline: none;
}

.fieldset {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 65vh;
  color: white;
  transform: translateY(0);
  background-color: black;
}

.fieldset fieldset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

summary::-webkit-details-marker {
  display: none;
}

summary {
  padding-inline: 3rem;
  border:  1px solid #eeeeee;
  border-radius: 6px;
}

summary:focus {
  border: 1px solid red;
}

details p {
  margin: 0;
}

.click {
  padding: 1rem;
  background-color: #ffffff;
}

.fa {
  margin: 0;
}

.add {
  color: #bdbdbd;
}

.fa-search {
  color: #EB5757;
}

.button--container {
  border: 2px solid #cccccc;
  border-radius: 16px;
}

.click:nth-child(1),
.click:nth-child(3) {
  border: none;
  border-radius: 16px;
}

.click:nth-child(2) {
  border-top: none;
  border-bottom: none;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}


select {
  border: none;
  background: transparent;
  /*background-color: blue;*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 180px;
  padding-top: 0px;
  background-size: 20px;
  color: #ffffff;
}
select option {
  color: #424146;
  background: #ffffff;
}